FDW_flow.json
[{"id":"700f7ece.34d0f","type":"tab","label":"IOT-Fire-Warning-System","disabled":false,"info":""},{"id":"9cb2489a.0be8a8","type":"envirophat","z":"700f7ece.34d0f","x":120,"y":220,"wires":[["8c8777b8.3cd9d8"]]},{"id":"9cc59d77.026a2","type":"ui_toast","z":"700f7ece.34d0f","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","topic":"","name":"Notifcation","x":950,"y":260,"wires":[[]]},{"id":"e76666c1.8ae648","type":"sqlite","z":"700f7ece.34d0f","mydb":"8dfd3152.ffd42","sqlquery":"msg.topic","sql":"","name":"Database","x":480,"y":560,"wires":[["3dd80451.3b53dc"]]},{"id":"4d760569.69211c","type":"function","z":"700f7ece.34d0f","name":"SELECT","func":"let select = `SELECT * FROM sensor`;\nmsg.topic = select;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":600,"wires":[["e76666c1.8ae648"]]},{"id":"78cbec2e.c211d4","type":"function","z":"700f7ece.34d0f","name":"Temperature","func":"msg.payload = msg.payload.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["66013c4c.6227c4"]]},{"id":"66013c4c.6227c4","type":"ui_chart","z":"700f7ece.34d0f","name":"","group":"1b8417c.4a956e8","order":2,"width":"11","height":"8","label":"Temperature Trend","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2aa034","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":160,"wires":[[]]},{"id":"47ed8d72.615d84","type":"function","z":"700f7ece.34d0f","name":"Check fire indication","func":"let temperature = msg.payload.temperature;\nlet pressure = msg.payload.pressure;\n\nlet temperatureThreshold = 40;\nlet pressureThreshold = 15;\n\nif (parseInt(temperature) >= temperatureThreshold || parseInt(pressure) >= pressureThreshold){\n    msg.payload = 'ALERT! There may be fire in this location.'\n    msg.fire = true;\n    return msg;\n}\n\nreturn '';","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["6588c4a9.11e39c"]]},{"id":"e06fc107.ba221","type":"delay","z":"700f7ece.34d0f","name":"20 seconds delay","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":340,"wires":[["47ed8d72.615d84"]]},{"id":"e43f3726.d2f4c8","type":"ui_gauge","z":"700f7ece.34d0f","name":"","group":"1b8417c.4a956e8","order":3,"width":"7","height":"8","gtype":"donut","title":"Pressure","label":"","format":"{{msg.payload.pressure}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":280,"wires":[]},{"id":"8c8777b8.3cd9d8","type":"function","z":"700f7ece.34d0f","name":"Get sensor data","func":"// Get sensor data from enviro phat\nlet temperature = msg.envirophat.temperature;\nlet currentTemp = `${parseInt(temperature)} °C`;\nlet pressure = Number(msg.envirophat.pressure / 10000).toFixed(1);\n\n// Return temperature and pressure\nreturn {\n    payload: {\n        temperature,\n        pressure,\n        currentTemp\n    }\n};","outputs":1,"noerr":0,"x":140,"y":340,"wires":[["e06fc107.ba221","1d8cf086.72cb1f","e43f3726.d2f4c8","78cbec2e.c211d4","1b53c5d5.5972ea"]]},{"id":"b36b77b2.65b238","type":"play audio","z":"700f7ece.34d0f","name":"Audio","voice":"0","x":930,"y":340,"wires":[]},{"id":"aec7e0eb.84676","type":"e-mail","z":"700f7ece.34d0f","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"sami.khalil.dev@gmail.com","dname":"","x":1040,"y":160,"wires":[]},{"id":"1d8cf086.72cb1f","type":"ui_text","z":"700f7ece.34d0f","group":"e71b01c4.29bc5","order":1,"width":"6","height":"2","name":"","label":"Room Temperature:","format":"{{msg.payload.currentTemp}}","layout":"row-center","x":430,"y":220,"wires":[]},{"id":"93e4c35.e58cf4","type":"ui_text","z":"700f7ece.34d0f","group":"e71b01c4.29bc5","order":3,"width":"6","height":"2","name":"","label":"Date:","format":"{{msg.payload.date}}","layout":"row-center","x":690,"y":420,"wires":[]},{"id":"f7e5530d.61f4e","type":"ui_text","z":"700f7ece.34d0f","group":"e71b01c4.29bc5","order":2,"width":"6","height":"2","name":"","label":"Time:","format":"{{msg.payload.time}}","layout":"row-center","x":690,"y":380,"wires":[]},{"id":"1b53c5d5.5972ea","type":"function","z":"700f7ece.34d0f","name":"INSERT","func":"let temperature = msg.payload.temperature;\nlet pressure = msg.payload.pressure;\n\nlet date = new Date();\n\nvar h = date.getHours(); // 0 - 23\nvar m = date.getMinutes(); // 0 - 59\nvar s = date.getSeconds(); // 0 - 59\nvar session = \"AM\";\n\nif(h == 0){\n    h = 12;\n}\n\nif(h > 12){\n    h = h - 12;\n    session = \"PM\";\n}\n\nh = (h < 10) ? \"0\" + h : h;\nm = (m < 10) ? \"0\" + m : m;\n\ndate = date.toDateString();\nvar time = h + \":\" + m + \" \" + session;\n\nmsg.topic = `INSERT INTO sensor(temperature, pressure, date, time)  values(${temperature}, ${pressure}, '${date}', '${time}');`;\nmsg.payload = {\n    date,\n    time\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["b97c47ef.ddaa38","f7e5530d.61f4e","93e4c35.e58cf4"]]},{"id":"a5c0b6b1.f7ced8","type":"inject","z":"700f7ece.34d0f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["4d760569.69211c"]]},{"id":"a8c14dc1.4d123","type":"function","z":"700f7ece.34d0f","name":"DELECT","func":"msg.topic = 'DELETE from sensor'\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":460,"wires":[["b97c47ef.ddaa38"]]},{"id":"3dd80451.3b53dc","type":"function","z":"700f7ece.34d0f","name":"Fetch data","func":"dataList = [];\nif (msg.payload.length) {\n    for (var i = 0; i < msg.payload.length; i++) {\n        let currentTemp = `${parseInt(msg.payload[i].temperature)} °C`;\n        dataList.push({ payload: { ...msg.payload[i], currentTemp }});\n    }\n}\nreturn [dataList];","outputs":1,"noerr":0,"x":670,"y":580,"wires":[["d960ee36.5a4c7"]]},{"id":"d960ee36.5a4c7","type":"debug","z":"700f7ece.34d0f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":500,"wires":[]},{"id":"b97c47ef.ddaa38","type":"sqlite","z":"700f7ece.34d0f","mydb":"8dfd3152.ffd42","sqlquery":"msg.topic","sql":"","name":"Database","x":520,"y":460,"wires":[[]]},{"id":"6588c4a9.11e39c","type":"switch","z":"700f7ece.34d0f","name":"","property":"fire","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":260,"wires":[["b36b77b2.65b238","7bcfad96.53ae64","9cc59d77.026a2"]]},{"id":"7bcfad96.53ae64","type":"function","z":"700f7ece.34d0f","name":"setup email","func":"msg.topic = 'Fire Alert';\nmsg.to = 'sami.khalil.dev@gmail.com'\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":100,"wires":[["aec7e0eb.84676"]]},{"id":"8dfd3152.ffd42","type":"sqlitedb","z":"","db":"sensors.db","mode":"RWC"},{"id":"1b8417c.4a956e8","type":"ui_group","z":"","name":"Display","tab":"a891d8d6.57d668","order":2,"disp":true,"width":"18","collapse":false},{"id":"e71b01c4.29bc5","type":"ui_group","z":"","name":"Info","tab":"a891d8d6.57d668","order":1,"disp":true,"width":"18","collapse":true},{"id":"a891d8d6.57d668","type":"ui_tab","z":"","name":"Fire Warning System","icon":"dashboard","order":3,"disabled":false,"hidden":false}]